<h4 class="pt-2">Add an employee</h4>  
<div class="card border-0 shadow">
    <div class="card-body p-5">
        <div class="col-4">
            <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm.value)">
                <div class="mb-3">
                    <label for="name" class="form-label">Employee Name</label>
                    <input type="text" class="form-control" id="name" aria-describedby="employeename" name="employeename"
                        placeholder="Enter employee name" [(ngModel)]="employee.name" required />
                    <div id="employeeHelp" class="form-text"></div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!employeeForm.form.valid" >Submit</button>
            </form>
        </div>
    </div>
</div>
